@import 'tailwindcss';


@layer base {
    html {
      @apply scroll-smooth;
    }
    
    p, h1 {
        @apply text-white
    }

  }

    body {
        margin: 0;
        overflow-x: hidden;
        font-family: 'Nunito', sans-serif;
        background: linear-gradient(90deg, rgba(39,86,139,1) 35%, rgba(71,161,196,1) 100%);
        
    }